@charset "UTF-8";

html[data-theme="light"] {
   
    --3-menu-nav-A: rgb(94, 119, 140);
    --3-menu-nav-B: rgb(68, 87, 102);  
    --3-menu-text: rgb(200, 208, 211);    
    --3-menu-selecao: #ffffff;
    --3-box-sombra: rgba(170, 169, 169, 0.5);
    --3-boxes-fundo:  #ffffff;
    --3-body-fundo:  #ffffff;
    
    --3-aba-rec: rgb(255, 255, 255);
    --3-aba-fav: rgb(255, 255, 255);
     
}

html[data-theme="dark"] {
  
    --3-menu-nav-A:  rgb(34, 38, 41);
    /*--3-menu-nav-B: rgb(70, 67, 67);*/
    --3-menu-text: rgb(146, 143, 143);
    --3-menu-selecao: rgb(241, 247, 250);
    --3-boxes-fundo:  #181717;
    --3-body-fundo:  #050505;
    
    --3-aba-rec: rgb(0, 0, 0);
    --3-aba-fav: rgb(0, 0, 0); 
}



/* Formatação do Menu Lateral */



div#menu-aluno {
  position: absolute;
  display: block;
  width: 85px;
  height: 100vh;
  box-sizing: border-box;    
  margin: 0;
  padding: 0;
  float: left;  
  background-color: var(--3-menu-nav-A);
  z-index: 0;
  
}

nav {    
    position: relative;
    top: 80px;
    width: 70px;
    margin: auto;
    
    z-index: 2;
    

}



nav p {
    justify-content: center;    
    text-align: center;
    align-items: center;
    padding: 10px 0; 
    width: 100%;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;    
    color: var(--3-menu-text);
    

}



nav p:hover {    
    
    color: var(--3-menu-selecao);
    
    

}




/*alteração do tema */
#save-theme {
    position: absolute;
    top: 95%;
    left: 5px;

    color: #000000;

    text-align: center;

    border-radius: 7px;
}

#salvar-texto {
    position: absolute;
    top: 97%;
    font-size: 12px;
    margin-right: 0;
    margin-left: 5px;
    color: #ffffff;
    text-align: center;
    border-radius: 7px;
}



#theme-toggler {    
    left: 20px;    
    position: absolute;    
    top: 90%;    
    color: var(--3-menu-text);      
    font-size: 30px;
    height: 40px;
    width: 40x;
    border-radius: 5px;
    border-style: solid;
    display: flex;    
    align-items: center;

}

#theme-toggler:hover {
    color: var(--3-menu-selecao);


}



/*define transparencia do fundo */

transparencia {
  
  display: none;
  position: relative;
  width: 100%;       
  height: 100%;
  background: var(--3-transp);
  
  transition: opacity 300ms ;
     

}




/* janela recolhivel 'Favoritos' */
#title-fav {
  color: #a3a2a2;
  font-size: 22px;
  margin: auto;
 
}
.fa-eraser{
  position: absolute;
    top: 5px;
    left: 5px;   
  color: #a3a2a2;
  
}

#limp-fav{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.fa-eraser:hover{
  color: #4e4e4e;
}


.sidefav li {
  list-style:none;  
}



/* The side navigation menu */
.sidefav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    left: 70;
    background-color: var(--3-aba-fav); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 3;
    text-align: center;
    
  }
  
  /* The navigation menu links */
  .sidefav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #a3a2a2;
    display: block;
    transition: 0.3s;
    text-align: center;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidefav a:hover {
    color: #161822;
  }
  
  /* Position and style the close button (top right corner) */
  .sidefav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .link_fav{
    font-size: 15px !important;
    display: block;
    white-space: normal;  
    
  }


  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .3s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidefav {padding-top: 15px;}
    .sidefav a {font-size: 18px;}
  }


/* janela recolhivel 'Recentes' */

/* The side navigation menu */
.siderec {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    top: 0; /* Stay at the top */
    left: 70;
    background-color: var(--3-aba-rec); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 2;
    
  }
  
  /* The navigation menu links */
  .siderec a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .siderec a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .siderec .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .3s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .siderec {padding-top: 15px;}
    .siderec a {font-size: 18px;}
  }  

